In [2]:
import pandas as pd

Create a dataframe raw data

In [3]:
data = [
    ['Nissan', 'Stanza', 1991, 138, 4, 'MANUAL', 'sedan', 2000],
    ['Hyundai', 'Sonata', 2017, None, 4, 'AUTOMATIC', 'Sedan', 27150],
    ['Lotus', 'Elise', 2010, 218, 4, 'MANUAL', 'convertible', 54990],
    ['GMC', 'Acadia',  2017, 194, 4, 'AUTOMATIC', '4dr SUV', 34450],
    ['Nissan', 'Frontier', 2017, 261, 6, 'MANUAL', 'Pickup', 32340],
] #List of lists

columns = [
    'Make', 'Model', 'Year', 'Engine HP', 'Engine Cylinders',
    'Transmission Type', 'Vehicle_Style', 'MSRP'
]#List

In [4]:
#If we just add data than pandas can't name the columns
df = pd.DataFrame(data)
df

         0         1     2      3  4          5            6      7
0   Nissan    Stanza  1991  138.0  4     MANUAL        sedan   2000
1  Hyundai    Sonata  2017    NaN  4  AUTOMATIC        Sedan  27150
2    Lotus     Elise  2010  218.0  4     MANUAL  convertible  54990
3      GMC    Acadia  2017  194.0  4  AUTOMATIC      4dr SUV  34450
4   Nissan  Frontier  2017  261.0  6     MANUAL       Pickup  32340

In [ ]:
df = pd.DataFrame(data, columns=columns)
df

The same thing can be done with a list of dic

In [ ]:
data = [
    {
        "Make": "Nissan",
        "Model": "Stanza",
        "Year": 1991,
        "Engine HP": 138.0,
        "Engine Cylinders": 4,
        "Transmission Type": "MANUAL",
        "Vehicle_Style": "sedan",
        "MSRP": 2000
    },
    {
        "Make": "Hyundai",
        "Model": "Sonata",
        "Year": 2017,
        "Engine HP": None,
        "Engine Cylinders": 4,
        "Transmission Type": "AUTOMATIC",
        "Vehicle_Style": "Sedan",
        "MSRP": 27150
    },
    {
        "Make": "Lotus",
        "Model": "Elise",
        "Year": 2010,
        "Engine HP": 218.0,
        "Engine Cylinders": 4,
        "Transmission Type": "MANUAL",
        "Vehicle_Style": "convertible",
        "MSRP": 54990
    },
    {
        "Make": "GMC",
        "Model": "Acadia",
        "Year": 2017,
        "Engine HP": 194.0,
        "Engine Cylinders": 4,
        "Transmission Type": "AUTOMATIC",
        "Vehicle_Style": "4dr SUV",
        "MSRP": 34450
    },
    {
        "Make": "Nissan",
        "Model": "Frontier",
        "Year": 2017,
        "Engine HP": 261.0,
        "Engine Cylinders": 6,
        "Transmission Type": "MANUAL",
        "Vehicle_Style": "Pickup",
        "MSRP": 32340
    }
]

In [ ]:
df = pd.DataFrame(data)
df

In [ ]:
#We can only use the dot notation to list the data from a column if there are no spaces
df.Model

We can only use the dot notation to list the data from a column if there are no spaces

#this will give an error
df.Engine HP

In [ ]:
#Use a list
df['Engine HP']

In [ ]:
#Multiple columns - a list of lists
df[['Engine HP', 'Make']]

Add a column

In [ ]:
df['id'] = [3,4,6,1,9]
df

In [ ]:
del df['id']
df

Accessing Rows by Index

In [ ]:
df.loc[[1,4]]

Accessing Rows by Index

Element-wise operations

In [ ]:
df['Engine HP']

In [ ]:
df['Engine HP'] * 5

In [ ]:
df['Year'] >= 2015

Filtering

In [ ]:
df[df['Year'] >= 2015]

In [ ]:
df[(df['Year'] >= 2015) & (df['Engine Cylinders'] == 4)]

String Operations

Change case

In [ ]:
df['Vehicle_Style']

In [ ]:
df['Vehicle_Style'].str.lower()

Change Char

In [ ]:
df['Vehicle_Style'].str.replace(' ', '_')

In [ ]:
df['Vehicle_Style'].str.replace(' ', '_').str.lower()

In [ ]:
df

In [ ]:
df['Vehicle_Style'] = df['Vehicle_Style'].str.replace(' ', '_').str.lower()

In [ ]:
df

In [ ]:
df.MSRP.mean()

In [ ]:
df.MSRP.describe()

In [ ]:
df.describe().round(1)

Finding how many unique values, use nunique

In [ ]:
df.Make.nunique()

In [ ]:
df.nunique()

Missing Values

In [ ]:
df.isnull().sum()

Grouping

In [ ]:
df.groupby('Transmission Type').MSRP.min()

In [ ]:
df

In [ ]:
df.to_dict(orient='records')

Car Prices CSV

Download directly into this notebook

!curl -o filename.csv https://cdn.nationalarchives.gov.uk/datasets/records/hospital-records.xls

Read a CSV

In [ ]:
df = pd.read_csv('Melbourne_housing_FULL.csv')
len(df)

In [ ]:
df.describe()

In [ ]:
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
df.groupby('Suburb').Price.max()

# Step One
Load the data

In [ ]:
df = pd.read_csv('data.csv')
len(df)

# Step Two
Read the first 5 rows and the last 5 rows

In [ ]:
df.head()

In [ ]:
df.tail()

# Step Three
Make data consistant

## Standardise the column headings

In [ ]:
df.columns

In [ ]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.head()

## Standardise the data

Find the index of all the strings (odjects) and save it to a variable (in this case called strings)

In [ ]:
strings = df.dtypes[df.dtypes == 'object'].index
strings

Loop through the strings variable and apply the same transformation as the columns

In [ ]:
for col in strings:
    df[col] = df[col].str.lower().str.replace(' ', '_')

In [ ]:
df

In [ ]:
df.dtypes

# Step Four
Analysis the data
Matplotlib
Seaborn

In [ ]:
df.nunique()

Visulise price

In [ ]:
sns.histplot(df.msrp)

In [ ]:
sns.histplot(df.msrp, bins=50)

The previous plot is an example of long tail distrubution
le6 = 1,000,000 = 10*6

In [ ]:
sns.histplot(df.msrp[df.msrp < 100000])

## Remove the long tail
Use np.log1p - the 1p simply adds 1 to every value to avoid attempting to get the log of 0

In [ ]:
price_logs = np.log1p(df.msrp)
price_logs

In [ ]:
sns.histplot(price_logs, bins=50)

Missing Values

In [ ]:
df.isnull().sum()